body {
    background-color: #aae0ed;
}

h1 {
    color: #234234;
    background-color: #1b5b16;
}

span {
    color: #04047d;
}

p {
    text-align: center;
}

#header {
    height: 80px;
    background-color: #b3a92a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header img{
    width: 60px;
    height: 60px;
}

#sidebar {
    height: 400px;
    width: 120px;
    background-color: #2fb32a;
}

#content {
    width: 680px;
    background-color: #5ed3e2;
}

#footer {
    height: 150px;
    background-color: #0b0816;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.flex-row {
    display: flex;
}

#menu
{
    height: 50px;
    width: 50px;
    background-color: red;
}