#header{
    width: 800px;
    height: 80px;
    background-color: darkorchid;
}

#aside{
    width: 160px;
    height: 800px;
    background-color: seagreen;
}

#sidebar{
    width: 160px;
    height: 800px;
    background-color: darkolivegreen;
}

#main{
    width: 480px;
    height: 800px;
    background-color: red;
}

#footer{
    width: 800px;
    height: 160px;
    background-color: black;
}

.flex-row{
    display: flex;
}