.page{
    display: flex;
}

#aside{
    width: 150px;
    height: 800px;
    background-color: gray;
}

#header{
    width: 800px;
    height: 80px;
    background-color: blue;
}

#main{
    width: 800px;
    height: 560px;
    background-color: red;
}

#footer{
    width: 800px;
    height: 160px;
    background-color: black;
}