body, html {
    margin: 0;
    padding: 0;
    background-color: #2c2c2c;
    color: #FFF;
}

#header{
    height: 80px;
    background-color: darkgray;
    display: flex;
    justify-content: center;
}

header img {
    width: 60px;
    height: 60px;
}

#header-central{
    height: 80px;
    width: 800px;
    background-color: black;
    display: flex;
    align-items: center;
}

header nav {
    margin: 0 0 0 auto;
}

header nav ul {
    display: flex;
    gap: 30px
}

header nav ul li{
    list-style-type: none;
}

header nav ul li button{
    background: #e9962aff;
    color: #FFF;
    border-radius: 15px;
    padding: 10px 15px;
    margin: 0 0 0 15px;
    cursor: pointer;
}


header nav ul li a {
    padding: 32px 20px;
    color: #FFF;
    text-decoration: none;
}

header nav ul li a:hover, .active{
    border-bottom: 2px solid #e9962aff;
    color: #e9962aff;
}

#logo{
    height: 60px;
    width: 60px;
}

#central{
    height: 800px;
    display: flex;
}

#aside{
    height: 800px;
    width: 30%;
    background-color: blue;
}

#main{
    height: 800px;
    width: 100%;
}

#footer{
    height: 160px;
    background-color: darkgray;
    display: flex;
    justify-content: center;
}

#footer-central{
    height: 160px;
    width: 800px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row{
    display: flex;
    justify-content: space-around;
}

.card{
    background-color: white;
    height: 230px;
    width: 360px;
    margin: 10px 5px 5px 5px;
    border-radius: 10px;
}

.secao-superior{
    display: flex;
    justify-content: space-around;
}

.preco{
    display: flex;
    justify-content: center;
    color: green;
    font-size: xx-large;
}

.secao-inferior{
    display: flex;
    justify-content: space-around;
    color: black;
}

.ticker{
    color: black;
}

.bolsa{
    color: black;
}

.no-ativos{
    color: black;
}

.posicao{
    color: black;
}

.modal{
    background: #14141489;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal main{
    background: #FFF;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    padding: 20px 30px;
}

.modal main h1{
    color: #000;
    margin: 0;
}

.modal main label{
    color: #000000;
    margin: 10px 0 0 0;
}

.modal main form{
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
}

.modal main form input[type="text"], .modal main form select{
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px, solid, #000;
}

.modal main form input[type="submit"], .modal main button{
    background: #e9962aff;
    color: #FFF;
    border-radius: 15px;
    padding: 10px 15px;
    margin: 15px 0 0 15px;
    cursor: pointer;
}

#cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}