.flex-row{
    display: flex;
}

#header{
    width: 870px;
    height: 80px;
    background-color: aqua;
}

#aside{
    width: 150px;
    height: 800px;
    background-color: gray;
}

#main{
    width: 720px;
    height: 640px;
    background-color: red;
}

#footer{
    width: 720px;
    height: 160px;
    background-color: green;
}